@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Caveat";
}
body,
header {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
nav a {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 50px;
  width: 150px;
  text-align: center;
  background-color: whitesmoke;
  padding-top: 0px;
  position: sticky;
  top: 0;
}
.header-nav {
  border-top: 2px solid black;
  box-shadow: 1px 1px black;
  background-color: #98afb9;
  opacity: 1.2;
}
.title {
  font-size: 30px;
  padding: 1px 1px;
  color: black;
  text-shadow: 0px 0px black;
}
.category-price {
  min-width: 400px;
  width: 96%;
  margin-left: 26px;
}
.category-price a {
  text-shadow: 1px 1px black;
  font-size: 30px;
  border: 2px solid black;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  width: 250px;
  text-align: center;
  border-radius: 60px;
}
.main-container {
  border: 3px solid whitesmoke;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 26px;
  background: url(https://images.squarespace-cdn.com/content/v1/554e1c83e4b08a0248ca70c4/1fec2210-93c8-42fb-bb8e-cc365262d6b0/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 96%;
}
.pic {
  padding-top: 30px;
}

.pic img {
  border-radius: 70px;
  display: flex;
  gap: 30px;
  border: 2px solid whitesmoke;
}

.welcome-portfolio {
  color: black;
}
.category-price a {
  color: #fff;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.main-container::after,
.main-container::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  width: 98%;
  height: 955px;
  background-image: conic-gradient(
    from var(--angle),
    rgb(16, 15, 15),
    brown,
    rgb(130, 6, 6)
  );
  animation: animate 4s linear infinite;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  margin-top: 330px;
}

.main-container::before {
  filter: blur(1.5rem);
  opacity: 0;
}

@keyframes animate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
